.tooltip{
    position: relative;
}

.text{
    padding: 190px 0 0 600px;
}

.NavBar{
    list-style-type: none;
    margin-top: 220px;
    padding: 10px;
    background: #f2f2f2;
    background-size: cover;
    width: 100%;
}

li{
    display: inline-block;
    margin: 0 25px 0 0;
}

li a{
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}

.Navc{
    float: right;
}
.boxes{
    display: inline-block;
    background: #f2f2f2;
    padding: 10px;
    margin-left: 650px;
}
.boxes:hover{
    border: 1px solid black;
    font-weight: bold;
}

.boxes2{
    display: inline-block;
    background: #f2f2f2;
    padding:  10px;
    margin-left: 15px;
}
.boxes2:hover{
    border: 1px solid black;
    font-weight: bold;
}
.UpNavBar{
    display: inline;
    list-style-type: none;
}
.UpNav{
    margin: 20px 18px 0 0;
}
.UpNav1{
    float: right;
    margin: 20px 20px;
}
